@import '@/styles/mixins.scss';

.pie {
	position: fixed;
	top: 300px;
	left: 8px;
	z-index: 101; // Needs to be on top of spreadsheet for animation
	width: 200px;
	height: 200px;
	// height: 100%;
	fill: none;
	stroke-width: 2.5px;

	@include autoAlpha;

	@include mobile {
		top: calc(264px + (350px * 0.7 / 2) - 160px);
		left: 28px;
		width: 150px;
		height: 150px;
	}

	@include tablet {
		top: calc(300px + (500px * 0.85 / 2) - 104px);
		left: 40px;
		width: 250px;
		height: 250px;
	}

	@include laptop {
		top: 376px;
		left: 16px;
		width: 400px;
		height: 400px;
		transform: none;
	}
}

.circle {
	&1 {
		stroke: #4c8dee;
	}
	&2 {
		stroke: #1ac7b3;
	}
	&3 {
		stroke: #541adc;
	}
}
