@import '@/styles/mixins.scss';

$primary-color: #fce300;
$secondary-color: #3f3f43;
$accent-color-1: #efefef;
$accent-color-2: #f7e653;
$accent-color-3: #ffb800;

.container {
	position: absolute;
	top: 120px;
	left: 280px;
	z-index: 2;

	width: 320px;
	height: 240px;

	filter: drop-shadow(8px 8px 8px #0006);

	aspect-ratio: 1 / cos(30deg);
	clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);

	@include autoAlpha;

	@include mobile {
		width: 240px;
		height: 180px;
		top: 100px;
		left: 50%;
		transform: translateX(-50%);
	}

	@include tablet {
		width: 280px;
		height: 210px;
		top: 110px;
		left: 200px;
	}
}

.word {
	position: absolute;
	top: 16px;
	right: 48px;
	transform: translateX(-50%);

	@include mobile {
		top: 12px;
		right: 36px;
		font-size: 14px;
	}

	@include tablet {
		top: 14px;
		right: 42px;
		font-size: 15px;
	}
}
.definition {
	position: absolute;
	left: 50%;
	bottom: 12px;
	transform: translateX(-50%);

	display: grid;
	place-items: center;

	width: 100%;
	height: 64px;

	background-color: $accent-color-3;

	b {
		width: 192px;
		color: #000;

		@include mobile {
			width: 140px;
			font-size: 12px;
		}

		@include tablet {
			width: 160px;
			font-size: 13px;
		}
	}

	@include mobile {
		height: 48px;
		bottom: 8px;
	}

	@include tablet {
		height: 56px;
		bottom: 10px;
	}
}

.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: #fff;

	--b: 16px;
	clip-path: polygon(
		0 50%,
		50% -50%,
		100% 50%,
		50% 150%,
		0 50%,
		var(--b) 50%,
		calc(25% + var(--b) * cos(60deg)) calc(100% - var(--b) * sin(60deg)),
		calc(75% - var(--b) * cos(60deg)) calc(100% - var(--b) * sin(60deg)),
		calc(100% - var(--b)) 50%,
		calc(75% - var(--b) * cos(60deg)) calc(var(--b) * sin(60deg)),
		calc(25% + var(--b) * cos(60deg)) calc(var(--b) * sin(60deg)),
		var(--b) 50%
	);
	background: linear-gradient(60deg, $accent-color-3, $accent-color-2);
}
