@import '@/styles/mixins.scss';

$primary-color: #fce300;
$secondary-color: #3f3f43;
$accent-color-1: #efefef;
$accent-color-2: #f7e653;
$accent-color-3: #ffb800;

.background {
	position: relative;
	background-color: #fff;
}
.logo {
	position: absolute;
	bottom: 16px;
	left: 16px;
	z-index: 1;

	width: 200px;

	@include autoAlpha;
	transform: translateY(40px);
}
.swarm {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.line {
	position: absolute;
	z-index: 1;

	color: #000;
	text-align: left;

	background-color: rgba($accent-color-3, 0.9);
	color: rgba($accent-color-3, 0.9);
	border-radius: 4px;

	padding: 4px;

	@include autoAlpha;

	&.line1 {
		display: flex;
		gap: 4px;

		top: 80px;
		left: 24px;

		transform: scaleX(0);
		transform-origin: left center;
	}
	&.line2 {
		top: 136px;
		left: 24px;
		width: 240px;

		transform: scaleY(0);
		transform-origin: top center;
	}
	&.line3 {
		top: 264px;
		left: 24px;
		width: 240px;

		transform: scaleY(0);
		transform-origin: top center;
	}
	&.line4 {
		position: relative;

		width: 280px;

		transform: scaleY(0);
		transform-origin: top center;
	}
	&.line5 {
		position: relative;
		z-index: 1;

		text-align: right;

		transform: scaleX(0);
		transform-origin: right center;
	}
	&.line6 {
		position: relative;
		z-index: 0;
		border-top: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;

		transform: translateY(-100%);
		> div {
			transform: translateY(-100%);
		}
	}
}
.group4 {
	position: absolute;
	bottom: 40px;
	left: 360px;

	display: flex;
	gap: 16px;

	align-items: flex-end;

	.rightCol {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;
	}
	.group5 {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
}
.buttons {
	position: absolute;
	bottom: 144px;
	right: 24px;
	z-index: 1;

	display: flex;
	gap: 36px;

	.button {
		font-family: inherit;
		font-weight: 700;
		letter-spacing: 0.5px;
		font-size: 16px;

		@include autoAlpha;
	}
}
.apiaryText {
	display: flex;
	align-items: center;
	gap: 2px;

	// border-bottom: 1px solid #000;
	cursor: help;

	.magnifier {
		margin-bottom: 2px;
		font-size: 12px;
	}
}

.pic {
	position: absolute !important;

	@include autoAlpha;

	&Large {
		$height: 200px;
		top: 80px;
		right: 200px;
		width: calc($height * 1.33) !important;
		height: $height !important;
	}
	&Small1 {
		top: 40px;
		right: 480px;
	}
	&Small2 {
		top: 64px;
		right: 32px;
	}
}
