@import '@/styles/mixins.scss';

$primary-color: #fce300;
$secondary-color: #3f3f43;
$accent-color-1: #efefef;
$accent-color-2: #f7e653;
$accent-color-3: #ffb800;

.background {
	position: relative;
	background-color: #fff;

	@include mobile {
		height: 600px;
	}
}
.logo {
	position: absolute;
	bottom: 16px;
	left: 16px;
	z-index: 1;

	width: 200px;

	@include autoAlpha;
	transform: translateY(40px);

	@include mobile {
		width: 120px;
		bottom: 12px;
		left: 12px;
	}

	@include tablet {
		width: 160px;
	}
}
.swarm {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.line {
	position: absolute;
	z-index: 1;

	color: #000;
	text-align: left;

	background-color: rgba($accent-color-3, 0.9);
	color: rgba($accent-color-3, 0.9);
	border-radius: 4px;

	padding: 4px;

	@include autoAlpha;

	&.line1 {
		display: flex;
		gap: 4px;

		top: 80px;

		transform: scaleX(0);
		transform-origin: left center;

		@include mobile {
			top: 60px;

			font-size: 14px;
			flex-wrap: wrap;
		}

		@include tablet {
			top: 70px;

			font-size: 15px;
		}
	}
	&.line2 {
		top: 136px;

		width: 240px;

		transform: scaleY(0);
		transform-origin: top center;

		@include mobile {
			top: 136px;

			width: calc(100% - 24px);
			max-width: 160px;
			font-size: 14px;
		}

		@include tablet {
			top: 130px;

			width: 280px;
			font-size: 15px;
		}
	}
	&.line3 {
		top: 264px;

		width: 240px;

		transform: scaleY(0);
		transform-origin: top center;

		@include mobile {
			top: auto;
			bottom: 30vh;

			width: calc(100% - 24px);
			max-width: 200px;
			font-size: 14px;
		}

		@include tablet {
			top: 240px;

			width: 280px;
			font-size: 15px;
		}
		@include laptop {
			top: 224px;
		}
		@include desktop {
			top: 264px;
		}
	}
	&.line4 {
		position: absolute;
		bottom: 40px;
		left: 360px;

		width: 280px;

		transform: scaleY(0);
		transform-origin: top center;

		@include mobile {
			width: calc(100% - 24px);
			max-width: 280px;
			font-size: 14px;
		}

		@include tablet {
			width: 300px;
			font-size: 15px;
			left: 24px;
			bottom: 12vh;
		}
		@include laptop {
			left: 80px;
			bottom: 80px;
		}
		@include desktop {
			left: 360px;
			bottom: 40px;
		}
	}
	&.line5 {
		position: relative;
		z-index: 1;

		text-align: right;

		transform: scaleX(0);
		transform-origin: right center;

		@include mobile {
			text-align: left;
			transform-origin: left center;
			font-size: 14px;
		}

		@include tablet {
			font-size: 15px;
		}
	}
	&.line6 {
		position: relative;
		z-index: 0;
		border-top: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;

		transform: translateY(-100%);
		> div {
			transform: translateY(-100%);
		}

		@include mobile {
			font-size: 14px;
			// top: auto;
			// bottom: 10vh;
		}

		@include tablet {
			font-size: 15px;
		}
	}
}

.group5 {
	position: absolute;
	bottom: 5vh;
	right: 0;

	display: flex;
	flex-direction: column;
	align-items: flex-end;

	@include mobile {
		bottom: 10vh;
		width: 100%;
	}
}

.buttons {
	position: absolute;
	bottom: 144px;
	right: 24px;
	z-index: 1;

	display: flex;
	gap: 36px;

	@include mobile {
		bottom: 22vh;
	}

	@include tablet {
		bottom: 120px;
		right: 16px;
		gap: 24px;
	}

	.button {
		font-family: inherit;
		font-weight: 700;
		letter-spacing: 0.5px;
		font-size: 16px;

		@include autoAlpha;

		@include mobile {
			font-size: 14px;
		}

		@include tablet {
			font-size: 15px;
		}
	}
}
.apiaryText {
	display: flex;
	align-items: center;
	gap: 2px;

	// border-bottom: 1px solid #000;
	cursor: help;

	.magnifier {
		margin-bottom: 2px;
		font-size: 12px;

		@include mobile {
			font-size: 10px;
		}
	}

	@include mobile {
		gap: 1px;
	}
}

.pic {
	position: absolute !important;

	@include autoAlpha;

	&Large {
		$height: 200px;
		top: 80px;
		right: 200px;
		width: calc($height * 1.33) !important;
		height: $height !important;

		@include mobile {
			$height: 120px;
			top: 144px;
			right: 0;
			width: calc($height * 1.33) !important;
			height: $height !important;
		}

		@include tablet {
			$height: 160px;
			top: 70px;
			right: 120px;
			width: calc($height * 1.33) !important;
			height: $height !important;
		}
		@include laptop {
			top: 104px;
			right: 136px;
		}
	}
	&Small1 {
		top: 40px;
		right: 480px;

		@include mobile {
			display: none;
		}

		@include tablet {
			$height: 98px;
			top: 176px;
			right: 320px;
			width: calc($height * 1.33) !important;
			height: $height !important;
		}
		@include laptop {
			top: 40px;
		}
	}
	&Small2 {
		top: 64px;
		right: 32px;

		@include mobile {
			$height: 75px;
			top: unset;
			bottom: 30vh;
			right: 12px;
			width: calc($height * 1.33) !important;
			height: $height !important;
		}

		@include tablet {
			$height: 98px;
			top: 56px;
			right: 24px;
			width: calc($height * 1.33) !important;
			height: $height !important;
		}
	}
}
