@import '@/styles/colors.scss';

.background {
	transition: fill 0.5s ease-in-out;
}

.software {
	fill: $software-color;
}

.tinkerer {
	fill: $tinkerer-color;
}

.learner {
	fill: $learner-color;
}

.default {
	fill: $default-color;
}
