@import '@/styles/mixins.scss';

$accent-color-2: #f7e653;
$accent-color-3: #ffb800;

.container {
	position: relative;
	z-index: 1;

	width: 160px;
	height: 120px;
	aspect-ratio: 1 / cos(30deg);
	clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);

	@include mobile {
		width: 100px;
		height: 75px;
	}

	@include tablet {
		width: 130px;
		height: 98px;
	}
}

.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: #fff;

	--b: 12px;
	clip-path: polygon(
		0 50%,
		50% -50%,
		100% 50%,
		50% 150%,
		0 50%,
		var(--b) 50%,
		calc(25% + var(--b) * cos(60deg)) calc(100% - var(--b) * sin(60deg)),
		calc(75% - var(--b) * cos(60deg)) calc(100% - var(--b) * sin(60deg)),
		calc(100% - var(--b)) 50%,
		calc(75% - var(--b) * cos(60deg)) calc(var(--b) * sin(60deg)),
		calc(25% + var(--b) * cos(60deg)) calc(var(--b) * sin(60deg)),
		var(--b) 50%
	);
	background: linear-gradient(60deg, $accent-color-3, $accent-color-2);
}

.image {
	width: 100%;
	height: 100%;
}
