@import '@/styles/mixins.scss';
@import '@/styles/colors.scss';

.titles {
	position: absolute;
	top: 33%;
	right: 8px;
	z-index: 450;

	width: 200px;
	height: 200px;

	transform: translateY(-50%);

	@include tablet {
		top: 33%;
		bottom: auto;
		right: 16px;
		width: 350px;
		height: 350px;
	}

	@include laptop {
		top: 55%;
		bottom: auto;
		width: 600px;
		height: 600px;

		transform: translateY(-50%);
	}
}

.name {
	position: absolute;
	left: 24px;
	bottom: 24px;
}

.title {
	font-size: 24px;

	@include tablet {
		font-size: 32px;
	}

	@include laptop {
		font-size: 40px;
	}
}
.subtext {
	display: flex;
	text-wrap: nowrap;

	height: 37px;

	font-size: 24px;

	@include tablet {
		height: 50px;

		font-size: 32px;
	}

	@include laptop {
		height: 75px;

		font-size: 40px;
	}
}

.drag {
	position: absolute;
	inset: 0;
}

.cards {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;

	width: 200px;
	height: 200px;

	perspective: 367px;
	transform-style: preserve-3d;

	@include tablet {
		bottom: 0;
		width: 350px;
		height: 350px;
		perspective: 642px;
	}

	@include laptop {
		bottom: 24px;
		right: 16px;

		width: 600px;
		height: 600px;
		perspective: 1100px;
	}

	h2 {
		position: absolute;
		bottom: 4px;
		right: 204px;

		width: 40px;

		font-size: 24px;
		white-space: nowrap;
		text-align: right;

		@include tablet {
			bottom: 6px;
			right: 356px;
			width: 60px;
			font-size: 36px;
		}

		@include laptop {
			bottom: 8px;
			right: 608px;
			width: 120px;
			font-size: 64px;
		}
	}
}
.card {
	position: absolute;
	bottom: 0px;
	right: 0px;

	width: 100%;
	height: 100%;

	border-radius: 8px;
	transform-style: preserve-3d;

	@include autoAlpha;

	@include tablet {
		border-radius: 12px;
	}

	@include laptop {
		border-radius: 24px;
	}

	.front,
	.back {
		position: absolute;
		inset: 0;
		border-radius: 8px;
		backface-visibility: hidden;

		@include tablet {
			border-radius: 12px;
		}

		@include laptop {
			border-radius: 24px;
		}
	}

	.front {
		z-index: 2;
		border: 2px solid #fff;
		overflow: hidden;

		h2 {
			position: absolute;
			bottom: 4px;
			left: 4px;
			white-space: nowrap;
			text-align: left;
			font-size: 24px;

			@include tablet {
				bottom: 6px;
				left: 6px;
				font-size: 36px;
			}

			@include laptop {
				bottom: 8px;
				left: 8px;
				font-size: 64px;
			}
		}
	}

	.back {
		transform: rotateY(180deg);
		z-index: 1;
		filter: hue-rotate(10deg);
	}

	&.software {
		.front,
		.back {
			background-color: $software-color;
		}
	}
	&.tinkerer {
		.front,
		.back {
			background-color: $tinkerer-color;
		}
	}
	&.learner {
		.front,
		.back {
			background-color: $learner-color;
		}
	}
}
.softwareContent,
.tinkererContent,
.learnerContent {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;

	font-size: 32px;

	--fa-secondary-opacity: 1;

	@include tablet {
		font-size: 48px;
	}

	@include laptop {
		font-size: 80px;
	}
}

.softwareContent {
	--fa-secondary-color: #000053;
}
.tinkererContent {
	--fa-secondary-color: #004574;
}
.learnerContent {
	--fa-secondary-color: #21006d;
}
.icon {
	position: absolute;
	z-index: 1;
}

.backgroundSvg {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 150%;
	height: 150%;

	transform: translate(-50%, -50%);
}
.spiralPath {
	fill: none;
	stroke: #ff03;
	stroke-width: 2;
}

.spiralMobile {
	display: block;

	@include tablet {
		display: none;
	}
}

.spiralTablet {
	display: none;

	@include tablet {
		display: block;
	}

	@include laptop {
		display: none;
	}
}

.spiralDesktop {
	display: none;

	@include laptop {
		display: block;
	}
}
