.scanner {
	&Container {
		position: absolute;
		top: 100%;
		left: -160px;
		z-index: -1;

		width: 100%; // 544px
		height: 200px;

		// overflow: hidden;

		border: 1px solid blue;
	}
	&Gun {
		position: absolute;

		border: 1px solid red;
		width: 64px;
		height: 64px;

		fill: #8a8a8a;
		transform: rotateZ(90deg) rotateX(180deg) translateY(-64px);
		transform-origin: center;

		.beam {
			position: absolute;
			top: 0;
			left: 0;
			// right: 100%;
			// transform: rotateZ(-90deg);
			// transform-origin: 'top right';
			border: 1px solid green;

			stroke: none;
			fill: red;
		}
	}
}

.wireContainer {
	width: 100%;
	height: 100%;
	.wire {
		fill: none;
		stroke: #c2c2c2;
	}
}
