.mousePath {
	position: absolute;
	inset: 0;

	border: 2px dashed red;
	width: 100%;
	height: 100%;
}

.path {
	stroke: cyan;
	stroke-width: 3px;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.pathText {
	user-select: none;
	pointer-events: none;
	font-size: 32px;
	font-family: var(--font-bebas) !important;
	letter-spacing: 0.1em;
}
