@import '@/styles/mixins.scss';

.background {
	position: absolute;

	top: 0;
	width: 100%;
	height: 100%;

	// Apply blur filter only on capable devices (controlled via JS)
	filter: url(#smoosh);
	-webkit-filter: url(#smoosh);

	// Fallback for low-performance devices: subtle opacity/glow effect
	&.noBlur {
		filter: none;
		-webkit-filter: none;
		// Optional: subtle box-shadow for depth without blur cost
		// box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
	}
}

.wave {
	position: absolute;
	z-index: 3;
	left: 0;

	&.top {
		top: 0;
		height: 40px;

		transform: translateY(-50px) rotate(180deg);
		@include autoAlpha;

		@include mobile {
			height: 30px;
			transform: translateY(-40px) rotate(180deg);
		}

		@include tablet {
			height: 35px;
			transform: translateY(-45px) rotate(180deg);
		}
	}
	&.bottom {
		bottom: 0px;
		height: 160px;

		transform: translateY(50px);
		@include autoAlpha;

		@include mobile {
			height: 120px;
			transform: translateY(40px);
		}

		@include tablet {
			height: 140px;
			transform: translateY(45px);
		}
	}
	&.bottombottom {
		height: 20px;
		transform: rotate(180deg);
		bottom: -20px;

		@include mobile {
			height: 15px;
			bottom: -15px;
		}

		@include tablet {
			height: 18px;
			bottom: -40px;
		}
	}
}

.title {
	position: absolute;
	z-index: 2;
	filter: none;

	right: 0px;

	bottom: 112px;

	@include mobile {
		bottom: 88px;
		right: 8px;
		font-size: 32px;
	}

	@include tablet {
		bottom: 96px;
		right: 16px;
		font-size: 36px;
	}

	@include laptop {
		bottom: 88px;
		right: 0px;
		font-size: inherit;
	}
}
