@import '@/styles/mixins.scss';

.chapter5 {
	position: relative;
	// height: 4000px;
}

.container {
	position: relative;

	width: 100%;
	height: 100vh;
}

.title {
	position: absolute;
	top: 0;
	right: 8px;
	z-index: 1000;

	@include tablet {
		right: 12px;
	}

	@include laptop {
		right: 16px;
	}

	.word {
		padding-top: 2px;
		padding-left: 4px;
		padding-right: 32px;

		perspective: 50em;
		transform-origin: bottom right;
		transform: rotateY(180deg);
		background: #0f0f0f88;

		@include tablet {
			padding-left: 6px;
			padding-right: 48px;
		}

		@include laptop {
			padding-left: 8px;
			padding-right: 64px;
		}
	}
}

.line {
	position: absolute;

	@include autoAlpha;
}
.line1 {
	top: 56%;
	left: 50%;

	@include mobile {
		top: 38vh;
		left: 16px;
		transform: none;
		text-align: left;
		max-width: 96px;
	}

	@include tablet {
		top: 50vh;
		left: 16px;
		transform: none;
		text-align: left;
		max-width: 200px;
	}

	@include laptop {
		left: 57%;
		transform: none;
		text-align: left;
	}
}
.line2 {
	top: 59%;
	left: 50%;

	@include mobile {
		top: 55vh;
		right: 16px;
		left: auto;
		transform: none;
		text-align: right;
		max-width: none;
	}

	@include tablet {
		top: 55vh;
		right: 16px;
		left: auto;
		transform: none;
		text-align: right;
	}

	@include laptop {
		left: 57%;
		right: auto;
		transform: none;
		text-align: left;
	}
	@include desktop {
		top: 58vh;
	}
	@include hd {
		top: 56vh;
	}
}
.line3 {
	top: 60%;
	left: 10%;

	@include mobile {
		top: 65vh;
		left: 16px;
		transform: none;
		text-align: left;
		max-width: none;
	}

	@include tablet {
		top: 70vh;
		left: 16px;
		transform: none;
		text-align: left;
	}

	@include laptop {
		left: 20%;
	}
	@include desktop {
		top: 65vh;
	}
}

.prosContainer {
	position: absolute;
	inset: 70% 0 0 0;

	display: flex;
	justify-content: center;
	align-items: flex-start;

	gap: 16px;

	@include mobile {
		inset: 70vh 0 0 0;
	}
	@include tablet {
		inset: 75vh 0 0 0;
		gap: 48px;
	}
	@include laptop {
		inset: 70vh 0 0 0;
	}
}

.proContainer {
	width: 120px;
	// height: 180px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;

	@include mobile {
		width: 90px;
		// height: 140px;
		gap: 8px;
	}

	@include tablet {
		width: 110px;
		// height: 165px;
		gap: 10px;
	}

	@include laptop {
		width: 160px;
		// height: 240px;
		gap: 16px;
	}

	p {
		@include autoAlpha;
	}
}
.iconContainer {
	position: relative;

	display: grid;
	place-items: center;

	height: 120px;
	width: 120px;

	background: linear-gradient(60deg, #07727a 0%, #9600c0 80%);
	box-shadow: 4px 4px 8px 0px #0008;
	border-radius: 12px;

	@include mobile {
		height: 90px;
		width: 90px;
		border-radius: 8px;
		box-shadow: 3px 3px 6px 0px #0008;
	}

	@include tablet {
		height: 110px;
		width: 110px;
		border-radius: 10px;
		box-shadow: 3px 3px 6px 0px #0008;
	}

	@include laptop {
		height: 160px;
		width: 160px;
		border-radius: 16px;
	}

	@include autoAlpha;
}
.icon {
	font-size: 48px;

	@include mobile {
		font-size: 32px;
	}

	@include tablet {
		font-size: 40px;
	}

	@include laptop {
		font-size: 64px;
	}
}

.text {
	display: flex;
	flex-wrap: nowrap;
	gap: 8px;
	text-wrap: nowrap;

	@include mobile {
		text-wrap: wrap;
	}
}
.check {
	bottom: 16px;
	right: 16px;

	color: #00bc00;

	@include autoAlpha;
}

.toolsContainer {
	left: 10%;

	@include mobile {
		left: 50%;
		top: 70%;
	}

	@include tablet {
		left: 15%;
		transform: none;
	}

	@include laptop {
		left: 20%;
	}

	.icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.ban {
		color: #b93030;
		opacity: 0.8;
		font-size: 78px;
		transform: rotate(90deg);

		@include mobile {
			font-size: 52px;
		}

		@include tablet {
			font-size: 65px;
		}

		@include laptop {
			font-size: 104px;
		}
	}
}
.computerContainer {
	left: 10%;

	@include mobile {
		top: calc(70% + 160px);
		left: 50%;
	}

	@include tablet {
		left: 23%;
		transform: none;
		top: 69%;
	}

	@include laptop {
		left: 36%;
		top: 68%;
	}
}
.internetContainer {
	left: 10%;

	@include mobile {
		top: calc(70% + 320px);
		left: 50%;
	}

	@include tablet {
		left: 41%;
		transform: none;
		top: 69%;
	}

	@include laptop {
		left: 52%;
		top: 68%;
	}
}
