@import '@/styles/mixins.scss';

.container {
	display: flex;
	align-items: center;
}

.cursor {
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 36px;
	background-color: #000;
	transform: translateY(0px);
	opacity: 0;

	@include autoAlpha;
}
