// Min width to check for is 375px

//! These mixins follow a "mobile-first" order
// The intended practice is that the default properties will apply to the
// smallest screen size ("mobile") and will apply to all larger screen sizes.
// Additional rules will be applied as needed for larger sizes

@mixin tablet {
	@media (min-width: 600px) {
		@content;
	}
}
@mixin laptop {
	@media (min-width: 950px) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: 1240px) {
		@content;
	}
}
@mixin hd {
	@media (min-width: 1728px) {
		@content;
	}
}

// This is intended to be used on elements that contain the width of content on the page with a standard "margin"

@mixin container {
	position: absolute;
	inset: 0 24px;

	max-width: 1164px;
	margin: 0 auto;

	@include tablet {
		inset: 0 32px;
	}
}
