@import '@/styles/mixins.scss';

.chapter6 {
	position: relative;
	width: 100%;
}

.container {
	position: relative;
	height: 100vh;
	width: 100%;
}

.title {
	position: absolute;
	top: 16px;
	right: 0px;
}

.line {
	position: absolute;

	@include autoAlpha;
}

.line1 {
	top: 80px;
	left: 10%;

	@include mobile {
		top: 30vh;
		right: 0;
		left: auto;
		text-align: right;
		max-width: 176px;
	}

	@include tablet {
		top: 100px;
		left: unset;
		right: 0;
		text-align: right;
		max-width: 200px;
	}

	@include laptop {
		top: 120px;
		left: 520px;
		right: auto;
		text-align: left;
	}
}
.line2 {
	top: 104px;
	left: 10%;

	@include mobile {
		top: 41vh;
		right: 0;
		left: auto;
		text-align: right;
		max-width: 160px;
	}

	@include tablet {
		top: 160px;
		left: unset;
		right: 0;
		text-align: right;
	}

	@include laptop {
		top: 176px;
		left: 520px;
		right: auto;
		text-align: left;
	}
}
.line3 {
	bottom: 280px;
	right: 10%;

	@include mobile {
		top: 45vh;
		left: 16px;
		bottom: auto;
		right: auto;
		max-width: 176px;
		text-align: left;
	}

	@include tablet {
		bottom: 440px;
		left: calc(100% - 360px);
		right: auto;
		top: auto;
		transform: translateX(-50%);
	}

	@include laptop {
		bottom: 424px;
		left: calc(100% - 400px);
		right: auto;
		top: auto;
		transform: translateX(-50%);
	}
	@include desktop {
		bottom: 424px;
		left: calc(100% - 360px);
		right: auto;
		top: auto;
		transform: translateX(-50%);
	}
}
.line4 {
	bottom: 260px;
	right: 10%;

	@include mobile {
		top: 52vh;
		left: 16px;
		bottom: auto;
		right: auto;
		max-width: 176px;
		text-align: left;
	}

	@include tablet {
		bottom: 412px;
		left: calc(100% - 360px);
		right: auto;
		top: auto;
		transform: translateX(-50%);
	}

	@include laptop {
		bottom: 400px;
		left: calc(100% - 400px);
		right: auto;
		top: auto;
		transform: translateX(-50%);
	}
	@include desktop {
		bottom: 400px;
		left: calc(100% - 360px);
		right: auto;
		top: auto;
		transform: translateX(-50%);
	}
}
