@import '@/styles/mixins.scss';

$border-radius: 8px;

.background {
	position: absolute;
	z-index: 0;
	height: 100%;

	width: 100%;
	top: 0;
	left: 0;

	border-radius: $border-radius;

	overflow: hidden;
	filter: drop-shadow(8px 8px 4px #0003);

	@include mobile {
		filter: drop-shadow(4px 4px 2px #0003);
	}

	@include tablet {
		filter: drop-shadow(6px 6px 3px #0003);
	}
}
.fill {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 101%;
	height: 0%;

	background-color: var(--green);
	filter: brightness(1.2);

	transform: translateY(40px);
	@include autoAlpha;

	.top {
		position: absolute;
		bottom: 100%;
		left: 0;
		height: 24px;
		width: 100%;

		path {
			fill: var(--green);
		}
	}
}

.nib {
	position: absolute;
	bottom: 0;
	left: 100%;
	z-index: -1;

	width: 8px;
	height: 8px;

	clip-path: polygon(0 0, 100% 100%, 0 100%);
	background-color: var(--green);
	filter: brightness(1.2);

	@include autoAlpha;

	@include mobile {
		width: 6px;
		height: 6px;
	}

	@include tablet {
		width: 7px;
		height: 7px;
	}
}
.bucket {
	position: relative;

	display: flex;
	flex-direction: column;
	gap: 8px;
	width: fit-content;
	height: fit-content;

	padding: 8px;
	border-radius: $border-radius;

	@include mobile {
		padding: 6px;
		gap: 6px;
		max-width: calc(100% - 32px);
	}

	@include tablet {
		padding: 7px;
		gap: 7px;
		max-width: calc(100% - 48px);
	}

	@include laptop {
		position: absolute;
		max-width: 49%;
		padding: 8px;
		gap: 8px;
	}

	// Even buckets (0-indexed: 1, 3, 5) align right
	&:nth-child(even) {
		@include laptop {
			right: 0;
			left: auto;
		}
		border-bottom-right-radius: 0 !important;
		.background {
			border-bottom-right-radius: 0 !important;
		}
	}

	// Odd buckets (0-indexed: 0, 2, 4) align left
	&:nth-child(odd) {
		@include laptop {
			left: 0;
			right: auto;
		}
		border-bottom-left-radius: 0 !important;
		.background {
			border-bottom-left-radius: 0 !important;
		}
		.nib {
			left: unset;
			right: 100%;
			clip-path: polygon(100% 0, 0 100%, 100% 100%);
		}
	}
}
.line {
	position: relative;
	z-index: 1;
	@include autoAlpha;
}
.bucket0 {
	@include laptop {
		top: 40px;
	}

	.line {
		&:nth-child(1) {
			max-width: 540px;

			@include mobile {
				max-width: 300px;
			}

			@include tablet {
				max-width: 420px;
			}
		}
	}
}

.bucket1 {
	@include laptop {
		top: 72px;
	}
}

.bucket2 {
	@include laptop {
		top: 128px;
	}
	$green: #0d420d;
	.nib {
		background-color: $green;
	}
	.fill {
		background-color: $green;

		.top {
			path {
				fill: $green;
			}
		}
	}
}
.bucket3 {
	@include laptop {
		top: 152px;
	}
}
.bucket4 {
	@include laptop {
		top: 216px;
	}
}
.bucket5 {
	@include laptop {
		top: 256px;
	}
}

.line {
	max-width: 480px;
	&:nth-child(odd) {
		text-align: left;
	}
	&:nth-child(even) {
		text-align: right;
		align-self: end;
	}

	color: var(--lightgreen);

	@include mobile {
		max-width: 280px;
		font-size: 14px;
	}

	@include tablet {
		max-width: 380px;
		font-size: 16px;
	}

	@include laptop {
		max-width: 480px;
		font-size: inherit;
	}
}
