.project {
	--lightgreen: #d1ffd1;

	position: relative;
	background-color: var(--lightgreen);
	overflow: visible !important;
	z-index: 99;
}

// .title {
// 	position: absolute;
// 	z-index: 2;
// 	filter: none;

// 	right: 50px;
// 	bottom: 150px;
// }
