@import '@/styles/mixins.scss';

.project {
	--green: #008000;
	--lightgreen: #d1ffd1;

	position: relative;
	background-color: var(--lightgreen);
	overflow: visible !important;
	z-index: 99;

	height: 720px;
	@include tablet {
		height: 640px;
	}
	@include laptop {
		height: 560px;
	}

	::selection {
		background: #f6ff00;
		color: black;
	}
}

.container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: flex-end;
	padding-top: 40px;

	> :nth-child(odd) {
		align-self: flex-start;
	}

	@include laptop {
		display: unset;
		flex-direction: unset;
	}
}
