@import '@/styles/mixins.scss';

.container {
	position: absolute;
	bottom: 24px;
	left: 0;
	right: 0;

	aspect-ratio: 800 / 600;

	@include laptop {
		left: auto;
		width: 800px;
		aspect-ratio: auto;
		height: 600px;
	}
}

.boxes {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;

	width: 100%;
	height: 240px;
}

.box {
	position: absolute;
	bottom: 224px;
	/* 120px / 800px = 15% */
	--boxSize: 15%;

	width: var(--boxSize);
	height: var(--boxSize);

	--fa-secondary-color: #705731;
	--fa-secondary-opacity: 1;

	transform: translateY(-500px);
	@include autoAlpha;

	filter: drop-shadow(0px 4px 8px #0008);

	&.pro {
		/* 80px / 800px = 10% */
		left: 10%;

		color: rgb(127, 167, 137);
	}
	&.hobby {
		/* 80px / 800px = 10% */
		right: 10%;

		color: rgb(167, 127, 146);
	}

	@include laptop {
		--boxSize: 120px;

		&.pro {
			left: 80px;
		}
		&.hobby {
			right: 80px;
		}
	}
	.icon {
		width: 100%;
		height: 100%;
	}
}
