.copyButtonContainer {
	position: relative;
}

.copy {
	display: flex;
	gap: 4px;
	z-index: 100;

	padding: 4px;

	border: 1px solid #fff;
	border-radius: 4px;

	cursor: pointer;

	&:hover {
		background-color: #fff4;
	}
}

.popupContainer {
	position: absolute;
	top: -100px; // Extend above to accommodate popups
	left: -200px; // Extend left/right to accommodate popups
	width: calc(100% + 400px);
	height: calc(100% + 200px);
	z-index: 1000;

	pointer-events: none;
	overflow: visible;
}
