@import '@/styles/mixins.scss';

.chapter4 {
	position: relative;
	// height: 4000px;

	overflow: hidden;
}

.container {
	position: relative;

	height: 100vh;
	width: 100vw;
}

.title {
	position: absolute;
	top: 12px;
	left: 12px;

	word-wrap: normal;

	text-align: left;
	width: 110px;

	@include tablet {
		top: 18px;
		left: 18px;
	}

	@include laptop {
		top: 24px;
		left: 24px;
		width: 120px;
	}
}

.house {
	position: absolute;
	top: 50vh;
	left: 50%;

	height: 40vh;
	width: 40vh;

	transform: translateX(-50%);

	@include mobile {
		top: 50vh;
		height: 300px;
		width: 300px;
	}
	@include tablet {
		top: calc(50vh - 120px);
		height: 600px;
		width: 600px;
	}

	@include laptop {
		top: 20vh;
		height: 70vh;
		width: 70vh;
	}
}

.houseContainer {
	> * {
		height: 100%;

		left: 50%;
		transform: translateX(-50%);
	}
}
.houseOut {
	position: absolute;

	color: #0096a1;
}

.houseIn {
	position: absolute;

	@include autoAlpha;
}

.me {
	position: absolute;
	left: 50%;
	bottom: 8%;
	height: 64px;

	transform: translateX(-1000px);

	@include mobile {
		height: 40px;
	}

	> * {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.happy {
	color: rgb(250, 250, 125);
	height: 100%;
}
.sleeping {
	height: 100%;

	@include autoAlpha;
}
.smart {
	height: 100%;
	color: rgb(250, 250, 125);

	@include autoAlpha;
}
.hearts {
	height: 100%;
	transform: translate(-50%, -50%), scale(0);

	color: rgb(250, 250, 125);
	--fa-primary-color: #b30074;

	@include autoAlpha;
}

.bed {
	position: absolute;
	bottom: 5%;
	right: 15%;

	height: 80px;

	transform: rotateY(180deg);

	--fa-primary-color: #553414;
	--fa-secondary-color: #4500b3;

	@include autoAlpha;
}
.computer {
	position: absolute;
	bottom: 10%;
	left: 20%;

	transform: translate(-50%, -50%);

	height: 48px;

	--fa-primary-color: #0096a188;

	@include autoAlpha;
}

.lightContainer {
	position: fixed;
	top: calc(50vh + 24px);
	left: 50%;
	z-index: 10;

	transform: translateX(-50%);

	border-radius: 16px;
	border-radius: 50%;

	background: none;
	box-shadow: 4px 4px 8px 0px #0000;
	padding: 40px;

	@include autoAlpha;

	@include tablet {
		top: calc(50vh - 80px);
	}

	@include laptop {
		top: calc(20vh + 80px);
	}

	> * {
		top: 50%;
		left: 50%;

		height: 40px;

		transform: translate(-50%, -50%) rotate(-180deg);
	}
	.lightOff {
		position: absolute;
	}
	.lightOn {
		position: absolute;

		width: 48px;
		height: 48px;

		color: #dcdc2b;

		@include autoAlpha;
	}
}

.line {
	position: absolute;

	@include autoAlpha;
}
.line1 {
	top: 60%;
	left: 50%;

	@include mobile {
		top: 160px;
		right: 8px;
		left: auto;
		text-align: right;
	}

	@include desktop {
		top: calc(60% - 40px);
	}
}
.line2 {
	top: 62%;
	left: 50%;

	@include mobile {
		top: 188px;
		right: 8px;
		left: auto;
		text-align: right;
	}

	@include desktop {
		top: calc(62% - 40px);
	}
}
.line3 {
	top: 64%;
	left: 53%;

	@include mobile {
		top: 216px;
		right: 8px;
		left: auto;
		text-align: right;
	}

	@include desktop {
		top: calc(64% - 40px);
	}
}
.line4 {
	bottom: 25%;
	left: 35%;

	width: 200px;
	text-align: left;

	@include mobile {
		left: 16px;
		top: 35vh;
		bottom: auto;
	}

	@include desktop {
		bottom: calc(25% + 32px);
	}
}
.line5 {
	top: 53%;
	left: 45%;

	width: 144px;
	text-align: left;

	@include mobile {
		left: 16px;
		top: 45vh;
	}
	@include desktop {
		top: calc(20vh + 160px);
	}
}
.line6 {
	top: 59%;
	left: 45%;

	@include mobile {
		left: 16px;
		top: calc(45vh + 48px);
	}
	@include desktop {
		top: calc(20vh + 220px);
	}
}
