@import '@/styles/mixins.scss';

.section {
	position: relative;
	max-width: unset !important;
}

.content {
	z-index: 10;

	display: flex;
	flex-direction: column;
	align-items: center;

	height: fit-content;
	padding-top: 24px;

	@include mobile {
		padding-top: 48px;
	}
}
