.quoteContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	margin-top: 16px;

	h2 {
		margin-top: 8px;
	}
}

.quote {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	margin: 8px 0;
	figcaption {
		margin-top: 4px;
	}
}
.openQuote {
	align-self: flex-start;
}
.outerQuote {
	display: flex;
	flex-direction: column;
	align-items: end;

	width: 900px;
	border: 1px solid red;
	display: flex;
}
