@import '../../../index.scss';

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	& > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: $color-text;
	}
}

@include mobile {
	.home {
		& > :not(:last-child) {
			margin: 0px 0;
		}
		> div {
			width: 100%;
		}
		& .fullHeight {
			height: 90vh;
		}
	}
}
@include desktop {
	.home {
		& .fullHeight {
			height: 100vh;
		}

		& > :not(:last-child) {
			margin: 32px 0;
		}

		> div {
			max-width: 800px;
			padding: 16px;
		}
	}
}
@include tablet {
}

@media screen and (max-width: 750px) {
	.about {
		&__techs {
			&--grid {
				grid-template-columns: repeat(2, 1fr);
				margin-bottom: 32px;
			}
		}
	}
}
