@import '@/styles/mixins.scss';

.chapter1 {
	position: relative;
	height: 4000px;

	overflow: hidden;
}
.container {
	position: absolute;
	z-index: 1;

	width: 100%;
	height: 100vh;
}
.emoji {
	position: absolute;
	top: 50%;
	left: 0%;

	visibility: hidden;
	opacity: 0;

	transform: translateY(-100%);

	width: 100%;
	height: 200px;

	@include autoAlpha;
}
.me {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(250, 250, 125);

	> * {
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 40px;

		@include tablet {
			font-size: 50px;
		}

		@include laptop {
			font-size: 60px;
		}
	}
	.happy {
		transform: translate(-50%, -50%);
	}
	.wonder {
		transform: translate(-50%, -50%);

		@include autoAlpha;
	}
}

.title {
	display: flex;

	transform: translateX(20px);
	@include autoAlpha;
}

.line {
	position: absolute;
	top: 35%;

	@include autoAlpha;

	&.line1 {
		right: 10%;
	}
	&.line2 {
		left: 10%;
		text-align: left;
		width: 180px;
	}
	&.line3 {
		right: 10%;
	}

	@include mobile {
		top: 15%;

		&.line3 {
			left: 10%;
			top: calc(15% + 104px);
			text-align: left;
		}
	}

	@include tablet {
		top: 30%;

		&.line1 {
			right: 15%;
		}
		&.line2 {
			left: 15%;
			width: 220px;
		}
		&.line3 {
			left: 15%;
			top: calc(30% + 104px);
			text-align: left;
			max-width: 240px;
		}
	}

	@include laptop {
		&.line1 {
			right: 20%;
		}
		&.line2 {
			left: 20%;
			width: 240px;
		}
		&.line3 {
			left: 20%;
			top: calc(35% + 104px);
			text-align: left;
		}
	}
}

.computer {
	--fa-secondary-color: rgb(84, 95, 119);
	--fa-secondary-opacity: 1;
	position: absolute;
	top: 50%;
	left: 50%;

	font-size: 60px;
	transform: translate(-50%, -50%);
	@include autoAlpha;

	@include tablet {
		font-size: 70px;
	}

	@include laptop {
		font-size: 80px;
	}
}
.gpa {
	position: absolute;
	top: 50%;
	left: calc(50% + 120px);

	transform: translate(-50%, -50%);

	@include mobile {
		left: 16px;
		transform: translate(0, -50%);
	}

	.body {
		font-size: 80px;
		@include autoAlpha;

		@include tablet {
			font-size: 100px;
		}

		@include laptop {
			font-size: 120px;
		}
	}
}
.bubble {
	position: absolute;
	bottom: 70%;
	left: 90%;

	font-size: 160px;
	@include autoAlpha;

	@include tablet {
		font-size: 180px;
	}

	@include laptop {
		font-size: 200px;
	}
}
.question {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 104px;
	font-size: 14px;
	line-height: 1.2;
	text-align: center;

	@include tablet {
		top: 42%;
		width: 120px;
		font-size: 16px;
	}

	@include laptop {
		top: 45%;
		width: 140px;
		font-size: 18px;
	}
}
