@import '@/styles/mixins.scss';

$primary-color: #fce300;
$secondary-color: #3f3f43;
$accent-color-1: #efefef;
$accent-color-2: #f7e653;
$accent-color-3: #ffb800;

.container {
	position: absolute;
	top: 0;
	right: 0;

	border: 1px solid red;
}
