@import '@/styles/mixins.scss';

.container {
	position: absolute;
	top: 16px;
	left: 16px;
	right: 16px;

	height: 60%;

	@include mobile {
		top: 8px;
		left: 8px;
		right: 8px;
		height: 45%;
	}

	@include tablet {
		top: 12px;
		left: 12px;
		right: 12px;
		height: 55%;
	}
}

.node {
	position: absolute;
	padding: 36px;
	width: 112px;
	height: 112px;
	box-sizing: border-box;

	border-radius: 16px;
	background-color: #32005c00;
	// box-shadow: inset 5px 5px 10px #32005b, inset -5px -5px 10px #33005d;
	// background: linear-gradient(60deg, #6000c088 0%, #b300c088 80%);

	transform: translate(-50%, -50%);
	transform-origin: center;

	display: grid;
	place-items: center;

	@include autoAlpha;

	@include mobile {
		padding: 10px;
		width: 40px;
		height: 40px;
		border-radius: 8px;
		box-shadow: inset 1.5px 1.5px 3px #140025,
			inset -1.5px -1.5px 3px #500093;
	}

	@include tablet {
		padding: 28px;
		width: 88px;
		height: 88px;
		border-radius: 12px;
		box-shadow: inset 3px 3px 6px #140025, inset -3px -3px 6px #500093;
	}

	@include laptop {
		box-shadow: inset 5px 5px 10px #140025, inset -5px -5px 10px #500093;
	}

	.icon {
		height: 40px;
		width: 40px;
		filter: drop-shadow(0 0 16px rgb(255, 255, 0));

		@include autoAlpha;

		@include mobile {
			height: 15px;
			width: 15px;
			filter: drop-shadow(0 0 6px rgb(255, 255, 0));
		}

		@include tablet {
			height: 32px;
			width: 32px;
			filter: drop-shadow(0 0 12px rgb(255, 255, 0));
		}
	}

	&.database {
		position: absolute;
	}
	&.server {
		position: absolute;
	}
	&.computer {
		position: absolute;
	}
	&.tablet {
		position: absolute;
	}
	&.satellite {
		position: absolute;

		.icon {
			transform: rotateZ(-90deg);
		}
		.background {
			width: 100%;
			height: 100%;

			background-color: #000;
		}
	}
	&.tower {
		position: absolute;
	}
}

.svg {
	width: 100%;
	height: 100%;
}

.line {
	fill: none;
	stroke-width: 0.5px;
	// stroke: yellow;
	&.pcServer {
		// stroke: red;
	}
}

.data {
	font-size: 24px;

	@include autoAlpha;

	@include mobile {
		font-size: 14px;
	}

	@include tablet {
		font-size: 18px;
	}
}

.lightBinary {
	color: rgb(255, 204, 0);
}
.computerBinary {
	color: rgb(255, 204, 0);
}
.dataBinary {
	color: rgb(255, 204, 0);
}
.tabletBinary {
	&1,
	&2,
	&3 {
		color: rgb(255, 204, 0);
	}
}

.lightContainer {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);

	border-radius: 16px;
	background-color: transparent;

	@include mobile {
		padding: 10px;
		border-radius: 8px;
		transform: translate(-50%, -50%) scale(0.5);
	}

	@include tablet {
		padding: 20px;
		border-radius: 12px;
		transform: translate(-50%, -50%) scale(0.75);
	}
}
