@import '@/styles/mixins.scss';

.chapter3 {
	position: relative;
	height: 4000px;

	overflow: hidden;
	background-color: #fff;
	color: #fff;
}

.container {
	position: relative;
	height: 100vh;
	width: 100vw;
}

.title {
	position: absolute;
	bottom: 304px;
	right: 80px;

	@include autoAlpha;
}

.cursor {
	background-color: #fff;
}

.line {
	position: absolute;
	width: fit-content;
}

.line1 {
	position: absolute;
	bottom: 360px;
	left: 16px;

	@include autoAlpha;
}
.line2 {
	position: absolute;
	bottom: 336px;
	left: 16px;

	@include autoAlpha;

	.moolah {
		color: #fff;
	}
}
.line3 {
	bottom: 280px;
	left: 16px;

	@include autoAlpha;
}
