@import '@/styles/mixins.scss';

.conveyor {
	position: absolute;
	top: 0;
	bottom: auto;

	display: flex;
	align-items: center;
	gap: 60px;

	width: 100%;

	// overflow: hidden;

	@include tablet {
		gap: 120px;
	}
}

.boxContainer {
	position: absolute;
	top: 50%;
	left: 100%;

	transform: translateY(-50%);

	display: flex;
	@include autoAlpha;

	width: fit-content;
	.box {
		font-size: 60px;
		color: #705731;

		@include tablet {
			font-size: 120px;
		}
	}
	.barcode {
		position: absolute;
		bottom: 8px;
		left: 4px;

		font-size: 12px;
		color: #000;

		@include tablet {
			bottom: 16px;
			left: 8px;
			font-size: 24px;
		}
	}
	.partNumber {
		position: absolute;
		bottom: 8px;
		right: 4px;

		color: #fff;

		font-size: 6px;

		@include tablet {
			bottom: 16px;
			right: 8px;
			font-size: 12px;
		}
	}

	.scanCount {
		position: absolute;
		bottom: 110%;
		left: 0;

		font-size: 8px;

		@include tablet {
			font-size: 16px;
		}

		.plus {
			position: absolute;
			top: 0;

			display: flex;
			gap: 2px;

			color: green;

			@include autoAlpha;
		}
		.minus {
			position: absolute;
			top: 0;

			display: flex;
			gap: 2px;

			color: red;

			@include autoAlpha;
		}
	}
}
