@import '@/styles/mixins.scss';

.chapter2 {
	position: relative;
	height: 4000px;

	overflow: hidden;
	background-color: #fff;
	color: #000;
}
.container {
	position: relative;
	height: 100vh;
	width: 100vw;
}

.titleContainer {
	position: absolute;
	top: 8px;
	left: 8px;

	display: flex;
	align-items: center;

	@include tablet {
		top: 12px;
		left: 12px;
	}

	@include laptop {
		top: 16px;
		left: 16px;
	}
}

.line {
	position: absolute;
	width: fit-content;
}

.line1 {
	top: 80px;
	right: 0px;
	white-space: nowrap;
	text-align: right;

	@include autoAlpha;

	@include tablet {
		top: 100px;
		right: 60px;
	}

	@include laptop {
		top: 120px;
		right: 80px;
	}
}

.line2 {
	top: 180px;
	left: 8px;
	text-align: left;

	@include autoAlpha;

	max-width: 480px;

	@include mobile {
		top: 120px;
		left: 32px;
	}

	@include tablet {
		top: 160px;
		left: 36px;
	}

	@include laptop {
		top: 80px;
		left: 16px;
	}
}

.line3 {
	top: 260px;
	left: 8px;

	@include autoAlpha;

	@include mobile {
		top: 196px;
		left: 32px;
	}

	@include tablet {
		top: 220px;
		left: 36px;
	}

	@include laptop {
		top: 160px;
		left: 16px;
	}
}
.line4 {
	top: 310px;
	left: 8px;

	@include autoAlpha;
	text-align: left;

	@include mobile {
		top: 420px;
		max-width: 116px;
		left: 32px;
	}

	@include tablet {
		top: 272px;
		left: 36px;
	}

	@include laptop {
		top: 216px;
		left: 16px;
	}
}
.line5 {
	top: 360px;
	left: 8px;

	@include autoAlpha;

	@include mobile {
		top: 580px;
		left: 32px;
	}

	@include tablet {
		top: 472px;
		left: 12px;
	}

	@include laptop {
		top: 500px;
		left: 16px;
	}
}
