@import '@/styles/mixins.scss';

.barContainer {
	position: fixed;
	top: 300px;
	left: 8px;
	bottom: 0;
	right: -20px;
	z-index: 101; // Needs to be on top of spreadsheet for animation
	width: 200px;

	@include autoAlpha;

	@include mobile {
		bottom: 16px;
		left: 128px;
		right: auto;
		top: auto;
		width: 200px;
	}

	@include tablet {
		bottom: 16px;
		left: 172px;
		right: auto;
		top: auto;
		width: 300px;
	}

	@include laptop {
		top: calc(50vh + 200px);
		left: calc(50vw - 400px);
		right: auto;
		bottom: auto;
		width: 400px;
		transform: none;
	}
}

.bar {
	width: 10px;
	transform: scale(1, 0);
	transform-origin: bottom;
	transition: background-color 150ms 0s;

	&:hover {
		background-color: #00ffcc !important;
	}
}

.main {
	display: flex;
	align-items: flex-end;
	height: 100%;

	> .bar {
		@for $i from 1 through 6 {
			&:nth-child(#{$i}) {
				width: 40px + (10px * $i);
				height: 40px + (20px * $i * $i/5);
				z-index: $i * 1;
				box-shadow: -4px 0px 2px 0px #000800ff inset;
			}
		}
		&.barLast {
			box-shadow: -4px 0px 2px 0px #00080000 inset;
		}
	}
}

.overflow {
	position: absolute;
	bottom: 0;
	left: 100%;
	z-index: 1000000000;
	display: flex;
	align-items: flex-end;
	width: 50vw;
	height: 190px;

	@include autoAlpha;

	> .bar {
		background-color: red;

		@for $i from 1 through 5 {
			&:nth-child(#{$i}) {
				width: 200px + (40px * $i * $i/3);
				height: 180px + (140px * $i * $i/2);
				z-index: $i * 1;
				box-shadow: -4px 0px 2px 0px #000800 inset;
			}
		}
	}
}
