@import '@/styles/mixins.scss';

.scatter {
	position: fixed;
	top: 300px;
	left: 200px;
	z-index: 99;
	width: 200px;
	height: 200px;

	@include autoAlpha;

	@include tablet {
		top: 260px;
		left: 240px;
	}

	@include laptop {
		top: 160px;
		left: 360px;
		width: 400px;
		transform: none;
	}

	@include desktop {
		top: 30%;
		left: 30%;
	}

	@include hd {
		top: 30%;
		left: 40%;
	}

	> svg {
		width: 100%;
		height: 100%;

		$lineDash: 5%;
		.xLine {
			fill: none;
			stroke: #000;
			stroke-width: 2px;
		}
		.yLine {
			fill: none;
			stroke: #000;
			stroke-width: 2px;
		}
		.point {
			fill: rgb(123, 0, 255);
			transition: all 250ms 0s ease;

			&:hover {
				r: 20px !important;
				fill: #ffd700 !important;
			}

			@include autoAlpha;
		}
		.best {
			stroke: #fff;
			stroke-width: 4px;
		}
		.bestDashed {
			stroke: #000;
			stroke-width: 3px;
			stroke-dasharray: 2%;
		}
	}
}
