.projects {
	max-width: 100% !important;
	padding: 0;
}

.projectList {
	display: flex;
	flex-direction: column;
	gap: 16px;

	width: 100%;
}

:is(.title, .description, .tech) {
	margin-bottom: 48px;
}
